@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}


html, body{
    width: 100vw;
    height: 100vh;
}

main{
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#iphone{
    position: absolute;
 
}

#redes{
    position: absolute;
}